img {
    display: block;
    max-width: 100%;
    height: auto;
  }

body {
  background-color: lightgray;
}

h1{
  color: darkcyan;
}

hr{
  size:1px
}

#figs{
  background-color: white; 
  margin-top: 50px;
}